.Refer {
  width: 100%;
  box-sizing: border-box;
  border-top: 3px solid #5861ae;
  text-align: center;
  background: #f8f9ff 0% 0% no-repeat padding-box;
  box-shadow: 0px -3px 6px #0000000b;
}

h1 {
  margin: 0;
  padding-top: 0.8em;
  font-family: Open sans;
  letter-spacing: 0.96px;
  color: #5861ae;
  opacity: 1;
  font-size: 24px;
  font-weight: semibold;
}
h6 {
  margin: 0;
  font: italic normal normal 10px/26px Open Sans;
  font-size: 1em;
  letter-spacing: 0.4px;
  color: #3d3d43;
  opacity: 1;
  padding-bottom: 0.1em;
}
