.Register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-height: fit-content;
  width: 100%;
  background-color: #f8f9ff;
}
.asideLeft {
  /* box-shadow: 0px 0 10px rgba(158, 152, 152, 0.8); */
  box-sizing: border-box;
  width: 30vw;
  background-color: white;
  position: relative;
  height: 40em;
  margin-top: 1%;
}
.asideLeftHeader {
  position: absolute;
  top: 20%;
  padding: 0 15%;
}
.asideLeftFooter {
  position: absolute;
  bottom: 2%;
  padding: 15%;
}
.asideLeftFooter p {
  font-size: 0.8em;
  text-align: left;
  font-family: Avenir;
  letter-spacing: 0.64px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
.asideLeftHeader h1 {
  text-align: left;
  font-family: Avenir;
  font-size: 3.5vw;
  letter-spacing: 2.48px;
  color: #5861ae;
  text-transform: capitalize;
  opacity: 1;
}
.Register p {
  color: #565657;
}
.asideLeftHeader p {
  text-align: left;
  font-family: Avenir;
  font-size: 1vw;
  letter-spacing: 0.8px;
  color: #565657;
  text-transform: capitalize;
  opacity: 1;
}
.signinButton {
  border: 2px solid #4552c1;
  border-radius: 5%;
  padding: 6% 12%;
  background-color: white;
}
.signinButton a {
  text-align: center;
  font-family: Sans;
  letter-spacing: 0.3px;
  opacity: 1;
  color: #4552c1;
  text-decoration: none;
}
/* Form Styling */
.registerForm {
  padding: 1% 4%;
}
.registerFormHeader h1 {
  text-align: left;
  font-size: 2vw;
  font-weight: normal;
  font-family: Avenir;
  letter-spacing: 1.28px;
  color: #5861ae;
  text-transform: uppercase;
  opacity: 1;
}

.registerFormContents {
  margin-top: 5%;
  width: 60%;
  min-height: 400px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 10%;
  grid-row-gap: 5%;
  justify-content: space-between;
}
.registerFormContents input,
select {
  width: 25vw;
  padding: 1em;
  margin: 0.2em 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #77838f;
}
.checkbox {
  text-align: center;
  grid-column-end: span 2;
}
.checkbox input {
  width: 3em;
}
.submitFormButton {
  grid-column-end: span 2;

  text-align: center;
}

.submitFormButton input {
  font-family: Sans;
  letter-spacing: 0.3px;
  color: #ffffff;
  opacity: 1;
  background-color: #5861ae;
  width: 8em;
  border-radius: 5%;
}
